<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="icon-home home-icon"></i>
      <a href="/index">主页</a>
    </li>
    <li>
      实验室
    </li>
    <li class="active">预约实验室</li>
  </ul>
</div>

<div class="page-content" ng-app="myApp" ng-controller="myCtrl">
  <div class="page-header">
    <h1>
      预约实验室
      <small>
        <i class="icon-double-angle-right"></i>
        详细信息
      </small>
    </h1>
  </div>

  <div class="form-search">
    <form class="form-inline">
      <div class="form-group">
        <label for="exampleInputEmail2">选择日期</label>&nbsp;
        <input type="date" class="search-control" ng-model="model.fromDate" >
        ～
        <input type="date" class="search-control" ng-model="model.toDate">
      </div>
      &nbsp;
      <button type="button" class="btn btn-sm btn-info btn-search" ng-click="onSearch()">
        <i class="icon-search"></i>
        查询
      </button>
    </form>
  </div>
  <div class="space-6"></div>

  <div class="row">
    <div class="col-xs-12">
      <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal">
        <i class="icon-time"></i>
        预约
      </button>
      <div class="space-6"></div>
      <div class="table-header">
        找到{{totalCount}}条数据
      </div>
      <div class="table-responsive">
        <table id="data-list" class="table table-striped table-bordered table-hover no-margin-bottom">
          <thead>
          <tr>
            <th class="center">预约编号</th>
            <th class="center">实验日期</th>
            <th class="center">实验节次</th>
            <th class="center">预约实验室</th>
            <th class="hidden-480">预约人</th>
            <th>
              <i class="icon-time bigger-110 hidden-480"></i>
              预约时间
            </th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          {{#each dataList}}
            <tr>
              <td class="center">{{this.appointmentID}}</td>
              <td>{{this.laboratoryDate}}</td>
              <td>第{{this.courseOrder}}节</td>
              <td>{{this.laboratoryName}}</td>
              <td>{{this.createUser}}</td>
              <td>{{this.createTime}}</td>
              <td>
                {{#if this.allowDelete}}
                <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                  <button type="button" class="btn btn-sm btn-danger" ng-click="onDelete('{{this.appointmentID}}' ,'{{this.laboratoryDate}}' ,'{{this.courseOrder}}' ,'{{this.laboratoryName}}')">
                    <i class="icon-trash"></i>
                    删除
                  </button>
                </div>
                {{/if}}
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
      {{#if paginationArray}}
        <div class="modal-footer no-margin-top">
          <ul class="pagination pull-right no-margin">
            <li class="prev">
              {{#if prePageNum}}
                <a href="/bookingLaboratory?pageNumber={{prePageNum}}&fromDate={{fromDate}}&toDate={{toDate}}">
                <i class="icon-double-angle-left"></i>
                </a>
              {{else}}
                <span>
              <i class="icon-double-angle-left"></i>
            </span>
              {{/if}}
            </li>
            {{#each paginationArray}}
              <li>
                <a href="/bookingLaboratory?pageNumber={{this}}&fromDate={{../fromDate}}&toDate={{../toDate}}">{{this}}</a>
              </li>
            {{/each}}
            <li class="next">
              {{#if nextPageNum}}
                <a href="/bookingLaboratory?pageNumber={{nextPageNum}}&fromDate={{fromDate}}&toDate={{toDate}}">
                <i class="icon-double-angle-right"></i>
                </a>
              {{else}}
                <span>
              <i class="icon-double-angle-right"></i>
            </span>
              {{/if}}
            </li>
          </ul>
        </div>
      {{/if}}

      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">预定实验室</h4>
            </div>
            <form class="form-horizontal" name="myForm" novalidate>
              <div class="modal-body">
                <div class="form-group">
                  <label class="col-sm-3 control-label">预定日期</label>
                  <div class="col-sm-9">
                    <input type="date" class="form-control" name="appointmentDate" ng-model="model.appointmentDate" required placeholder="选择实验日期">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">预定节次</label>
                  <div class="col-sm-9">
                    <select class="form-control" ng-model="model.selectedCourseOrder" ng-options="courseOrder as courseOrder.courseOrderName for courseOrder in model.courseOrderList"></select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">预定实验室</label>
                  <div class="col-sm-9">
                    <select class="form-control" ng-model="model.selectedLaboratory" ng-options="laboratory as laboratory.laboratoryName for laboratory in model.laboratoryList"></select>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal"><i class="icon-remove"></i>关闭</button>
                <button type="button" class="btn btn-sm btn-primary" ng-disabled="myForm.appointmentDate.$pristine ||
                                                                                  (myForm.appointmentDate.$dirty && myForm.appointmentDate.$invalid) ||
                                                                                  model.selectedCourseOrder.courseOrderID == 0 ||
                                                                                  model.selectedLaboratory.laboratoryID == 0" ng-click="onAppointment()">
                  <i class="icon-save"></i>
                  提交
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<input type="hidden" value="{{currentPageNum}}" id="hidden-currentPageNum">
<input type="hidden" value="{{fromDate}}" id="hidden-fromDate">
<input type="hidden" value="{{toDate}}" id="hidden-toDate">

<script src="/javascripts/view/bookingLaboratory.js"></script>