<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="icon-home home-icon"></i>
      <a href="/index">主页</a>
    </li>
    <li>
      理论回顾
    </li>
    <li class="active">习题库</li>
  </ul>
</div>

<div class="page-content" ng-app="myApp" ng-controller="myCtrl">
  <div class="page-header">
    <h1>
      习题库
      <small>
        <i class="icon-double-angle-right"></i>
        详细信息
      </small>
    </h1>
  </div>

  <div class="form-search">
    <form class="form-inline">
      <div class="form-group">
        <label for="exampleInputEmail2">系统类别</label>&nbsp;
        <select class="search-control" ng-model="model.selectedSystem4Search" ng-options="system as system.systemName for system in model.systemList4Search" ng-change="onSystemChange()"></select>
      </div>
      &nbsp;
      <div class="form-group">
        <label for="exampleInputEmail2">所属知识点</label>&nbsp;
        <select class="search-control" ng-model="model.selectedKnowledge4Search" ng-options="knowledge as knowledge.knowledgeName for knowledge in model.knowledgeList4Search"></select>
      </div>
      &nbsp;
      <div class="form-group">
        <label for="exampleInputEmail2">添加人</label>&nbsp;
        <select class="search-control" ng-model="model.selectedCreator" ng-options="teacher as teacher.teacherName for teacher in model.teacherList4Search"></select>
      </div>
      &nbsp;
      <button type="button" class="btn btn-sm btn-info btn-search" ng-click="onSearch()">
        <i class="icon-search"></i>
        查询
      </button>
    </form>
  </div>
  <div class="space-6"></div>
  <div class="row">
    <div class="col-xs-12">
      <a href="/exercises/edit" class="btn btn-sm btn-primary">
        <i class="icon-plus"></i>
        添加
      </a>
      <div class="space-6"></div>
      <div class="table-header">
        找到{{totalCount}}条数据
      </div>
      <div class="table-responsive">
        <table id="data-list" class="table table-striped table-bordered table-hover no-margin-bottom">
          <thead>
          <tr>
            <th class="center">序号</th>
            <th class="center">系统</th>
            <th class="center">习题类型</th>
            <th class="center">所属课程</th>
            <th class="center">所属实验</th>

            <th class="hidden-480">添加</th>
            <th>
              <i class="icon-time bigger-110 hidden-480"></i>
              添加时间
            </th>
            <th class="hidden-480">更新</th>
            <th>
              <i class="icon-time bigger-110 hidden-480"></i>
              更新时间
            </th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          {{#each dataList}}
            <tr>
              <td class="center">{{this.exercisesID}}</td>
              <td>{{this.systemName}}</td>
              <td>{{this.exercisesTypeName}}</td>
              <td>{{this.courseName}}</td>
              <td>{{this.experimentTypeName}}</td>
              <td>{{this.createUser}}</td>
              <td>{{this.createTime}}</td>
              <td>{{this.updateUser}}</td>
              <td>{{this.updateTime}}</td>
              <td>
                <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                  <button type="button" class="btn btn-sm btn-primary" ng-click="onShowExercisesContent('{{this.systemName}}', '{{this.courseName}}', '{{this.exercisesContent}}')">
                    <i class="icon-eye-open"></i>
                    查看
                  </button>
                  <button type="button" class="btn btn-sm btn-success" ng-click="onChange({{this.exercisesID}})">
                    <i class="icon-edit"></i>
                    修改
                  </button>
                  <button type="button" class="btn btn-sm btn-danger" ng-click="onDelete('{{this.exercisesID}}')">
                    <i class="icon-trash"></i>
                    删除
                  </button>
                </div>
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
      {{#if paginationArray}}
        <div class="modal-footer no-margin-top">
          <ul class="pagination pull-right no-margin">
            <li class="prev">
              {{#if prePageNum}}
                <a href="/exercises?pageNumber={{prePageNum}}&systemID={{systemID}}&knowledgeID={{knowledgeID}}&creator={{creator}}">
                <i class="icon-double-angle-left"></i>
                </a>
              {{else}}
                <span>
              <i class="icon-double-angle-left"></i>
            </span>
              {{/if}}
            </li>
            {{#each paginationArray}}
              <li>
                <a href="/exercises?pageNumber={{prePageNum}}&systemID={{../systemID}}&knowledgeID={{../knowledgeID}}&creator={{../creator}}">{{this}}</a>
              </li>
            {{/each}}
            <li class="next">
              {{#if nextPageNum}}
                <a href="/exercises?pageNumber={{prePageNum}}&systemID={{systemID}}&knowledgeID={{knowledgeID}}&creator={{creator}}">
                <i class="icon-double-angle-right"></i>
                </a>
              {{else}}
                <span>
              <i class="icon-double-angle-right"></i>
            </span>
              {{/if}}
            </li>
          </ul>
        </div>
      {{/if}}
    </div>
  </div>
</div>

<input type="hidden" value="{{currentPageNum}}" id="hidden-currentPageNum">
<input type="hidden" value="{{systemID}}" id="hidden-systemID">
<input type="hidden" value="{{knowledgeID}}" id="hidden-knowledgeID">
<input type="hidden" value="{{creator}}" id="hidden-creator">

<script src="/javascripts/view/exercises.js"></script>