<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="icon-home home-icon"></i>
      <a href="/index">主页</a>
    </li>
    <li>
      问题讨论区
    </li>
    <li class="active">留言板</li>
  </ul>
</div>

<div class="page-content" ng-app="myApp" ng-controller="myCtrl">
  <div class="page-header">
    <h1>
      留言板
      <small>
        <i class="icon-double-angle-right"></i>
        详细信息
      </small>
    </h1>
  </div>
  <div class="space-6"></div>
  <div class="row">
    <div class="col-xs-12">
      <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal">
        <i class="icon-hand-up"></i>
        我要提问
      </button>
      <div class="space-6"></div>

      <div id="faq-tab-2" class="tab-pane fade active in">
        <h4 class="blue">
          <i class="green ace-icon fa fa-user bigger-110"></i>
          Questions
        </h4>

        <div class="space-8"></div>

        <div id="faq-list-2" class="panel-group accordion-style1 accordion-style2">
        {{#each dataList}}
          <div class="panel panel-default">
            <div class="panel-heading">
              <a href="#faq-{{@index}}" data-parent="#faq-list-2" data-toggle="collapse" class="accordion-toggle collapsed" aria-expanded="false">
                <i class="smaller-80 ace-icon icon-chevron-right " data-icon-hide="ace-icon icon-chevron-down align-top" data-icon-show="ace-icon icon-chevron-right"></i>&nbsp;
                {{this.question.createUser}} {{this.question.createTime}}
                <br>
                <br>
                {{this.question.question}}
              </a>
              <a href="#" style="margin-left: 25px" ng-click="onAnswer('{{this.question.questionID}}', '{{this.question.question}}')">回复（{{this.answerCount}}）</a>
            </div>

            <div class="panel-collapse collapse" id="faq-{{@index}}" aria-expanded="false" style="height: 0px;">
              {{#each this.answerList}}
              <div class="panel-body">
                {{this.createUser}}
                {{this.createTime}}
                <br>
                {{this.answer}}
              </div>
              {{/each}}
            </div>
          </div>
        {{/each}}
        </div>
      </div>

    </div>
  </div>

  <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">填写提问内容</h4>
        </div>
        <div class="alert alert-danger store-alert hidden">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <span></span>
        </div>
        <form class="form-horizontal" name="myForm" novalidate>
          <div class="modal-body">
            <div class="form-group">
              <div class="col-sm-12">
                <textarea class="form-control" maxlength="200" name="question" rows="10" ng-model="model.question" required placeholder="请输入需要提问的内容（200字以内）"></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal"><i class="icon-remove"></i>关闭</button>
            <button type="button" class="btn btn-sm btn-primary" ng-disabled="myForm.question.$pristine || (myForm.question.$dirty && myForm.question.$invalid)" ng-click="onSubmitQuestion()">
              <i class="icon-save"></i>
              提交
            </button>
          </div>
        </form>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>

  <div class="modal fade" tabindex="-1" role="dialog" id="answerModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">填写回复内容</h4>
        </div>
        <div class="alert alert-danger store-alert hidden">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <span></span>
        </div>
        <form class="form-horizontal" name="answerForm" novalidate>
          <div class="modal-body">
            <div class="form-group">
              <div class="col-sm-12">
                <p ng-bind="model.answer4Question"></p>
                <textarea class="form-control" maxlength="200" name="answer" rows="10" ng-model="model.answer" required placeholder="请输入回复的内容（200字以内）"></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal"><i class="icon-remove"></i>关闭</button>
            <button type="button" class="btn btn-sm btn-primary" ng-disabled="answerForm.answer.$pristine || (answerForm.answer.$dirty && answerForm.answer.$invalid)" ng-click="onSubmitAnswer()">
              <i class="icon-save"></i>
              提交
            </button>
          </div>
        </form>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>

</div>

<script src="/javascripts/view/QA.js"></script>